<h1>Notícias</h1>

<table class="table table-hover">
<!-- 
	<tr>
		<th align="left">Título</th>
		<th>Descrição</th>
		<th>Conteúdo</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
-->

<% @news.each do |news| %>
  <tr>
    <td><%= news.title %></td>
	<!-- <td><%= news.description %></td>
    <td><%= simple_format(news.content) %></td> -->
    <td><%= link_to 'Visualizar', news %></td>
    <td><%= link_to 'Editar', edit_news_path(news) %></td>
    <td><%= link_to 'Deletar', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Adicionar Notícia', new_news_path, class: 'btn btn-primary' %>
