<p id="notice"><%= notice %></p>

<p>
  <b>Título:</b>
  <%= @news.title %>
</p>

<p>
  <b>Descrição:</b>
  <%= @news.description %>
</p>

<p>
  <b>Conteúdo:</b>
  <%= simple_format(@news.content) %>
</p>


<%= link_to 'Editar', edit_news_path(@news) %> |
<%= link_to 'Voltar', news_index_path %>
